*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #000000;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
