.advantages-list {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
}

.advantages-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--main-color);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    font-size: 14px;
    color: var(--description-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}
