// ---Colours---
$mainColor: #212121;
$logoFirstColor: #2196f3;
$logoSecondColor: #000000;
$logoThirdColor: #ffffff;
$logoCllientColor: #afb1b8;
$descriptionColor: #757575;
$backgroundFirsColor: #2f303a;
$backgroundSecondColor: #f5f4fa;
$backgroundThirdColor: #ffffff;
$buttonColor: #2196f3;
$buttonTextColor: #ffffff;
$socialMediaIconColor: #afb1b8;

// ---Button Shadow---
$activeBtnShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
$hoverBtnShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
