// ---Colours---
$main-color: #212121;
$logo-color-first: #2196f3;
$logo-color-second: #000000;
$logo-color-third: #ffffff;
$logo-client-color: #afb1b8;
$description-color: #757575;
$background-firs-color: #2f303a;
$background-second-color: #f5f4fa;
$background-third-color: #ffffff;
$button: #2196f3;
$button-text: #ffffff;
$social-media-icon: #afb1b8;

// ---Button Shadow---
$activeBtnShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
$hoverBtnShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
